{% if config.comment %}
<!-- 多说评论框 start -->
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"{{config.duoshuo_short_name}}"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->    

{% endif %}  

<footer id="footer">
	<div class="footer-right">

	</div>
	<div class="copyright">
		Powered By
		<a target='_blank' href="https://github.com/hjue/JustWriting">JustWriting</a>
		Theme by <a href="http://motype.org">Deepure</a> . Thanks for
		<a href="http://fontawesome.io/">Fontawesome</a> & <a href="https://www.dropbox.com/"><i class="icon-dropbox"></i></a>
		<!-- 备案信息 -->
			<div style="width:300px;margin:0 auto; padding:20px 0;">
		 		<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502032145" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/docs/images/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">京公网安备 11010502032145号</p></a>
		 	</div>
		<!-- 备案 end -->
	</div>
</footer>
