{% extends 'base.html' %}
{% block title %}{{ config.title }}{% endblock %}
{% block nav_index %}
    class="current"
{% endblock %}

{% block content %}
<div class="primary">{% include 'include/posts_list.html' %}</div>
{% include 'include/sider.html' %}

<div class="primary">
	<a href="http://beian.cqwa.gov.cn/open/showRecord?id=50022402000055"><img src="http://mrsu-me.oss-cn-beijing.aliyuncs.com/50022402000055.gif" alt=""></a>
	<a href="http://www.cqwa.gov.cn"><img src="http://mrsu-me.oss-cn-beijing.aliyuncs.com/sentrybox.gif" alt=""></a>
</div>

{% endblock %}